<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Resort Management</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="nav-container">

            <div class="logo">
                🌴Holybird Resort
            </div>

            <nav class="nav-links">
                <a href="/" class="active">Trang chủ</a>
                <a href="/booking" class="active">Đặt phòng</a>
                <a href="/rooms" class="active">Phòng</a>
                <a href="/services" class="active">Dịch vụ</a>
                <a href="/contact" class="active">Liên hệ</a>
            </nav>


            <div class="nav-actions">
                <a href="/login" class="btn-outline">Đăng nhập</a>
                <a href="/register" class="btn-primary">Đăng ký</a>
            </div>

        </div>
    </header>

    <!-- MAIN -->
    <main class="container">
        <h1>Chào mừng đến hệ thống quản lý Holybird Resort</h1>
        <p>Quản lý đặt phòng, khách hàng và dịch vụ dễ dàng.</p>
    </main>

</body>
</html>
